
<!DOCTYPE html>
<html>


<head>
  <title>Keskustelu</title>

</head>

<body>

      <link rel="stylesheet" href="/static/main.css">


    <div class="header">
        <h1>Tietokanta</h1>
    </div>
    <div class = "nav">
       <nav>
      <ul>
        <li><a href="/">Etusivu</a>
        <li><a href="/search">Haku</a></li>
        <li><a href="/register">Luo tunnus</a></li>
        {% if session.username %}
          <li><a href="/modify_star">Lisää tähtiä</a></li>

        <li><a href="/modify">Muokkaa planeettoja</a></li>

        <li><a href="/ownpage">Omat sivut</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
        {% else %}
        <li><a href="/login">Kirjaudu sisään</a></li>
        {% endif %}
      </ul>
    </nav>
    </div>


       <div class ="content">

           Tervetuloa planeettatietokantaan!



       </div>

</body>

</html>