<!DOCTYPE html>
<html>

<head>
          <link rel="stylesheet" href="/static/main.css">

</head>

<body>

    <div class="header">
        <h1>Sisäänkirjautuminen</h1>
    </div>

<div class = "nav">
       <nav>
      <ul>
        <li><a href="/">Etusivu</a></li>
        <li><a href="/search">Haku</a></li>
        <li><a href="/register">Luo tunnus</a></li>
        {% if session.username %}
        <li><a href="/ownpage">Omat sivut</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
        <li><a href="/modify_star">Lisää tähtiä</a></li>

        <li><a href="/modify">Muokkaa planeettoja</a></li>

        {% else %}
        <li><a href="/login">Kirjaudu sisään</a></li>
        {% endif %}
      </ul>
    </nav>
    </div>

<div class = "content">
  {% if session.username %}
  <p>
    Olet jo kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
    </div>
</body>

</html>
