<!DOCTYPE html>
<html>


<head>
  <title>Tietokanta</title>

</head>

<body>

  <link rel="stylesheet" href="/static/main.css">


  <div class="header">
    <h1>{{planet.name}}</h1>
  </div>
  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivu</a>
        <li><a href="/search">Haku</a></li>
        <li><a href="/register">Luo tunnus</a></li>
        {% if session.username %}
        <li><a href="/modify_star">Lisää tähtiä</a></li>

        <li><a href="/modify">Muokkaa planeettoja</a></li>

        <li><a href="/ownpage">Omat sivut</a></li>
        <li><a href="/planets">Kaikki kohteet</a></li>
        <li><a href="/logout">Kirjaudu ulos</a></li>
        {% else %}
        <li><a href="/login">Kirjaudu sisään</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>


  <div class="content">

    <br>

    {{planet.content}}

    <br>

    Tähti:

    {{star.name}}



    <br>
    Löytötapa:

    {{method}}

    <br>

    Tyypit:

    <br>

    {% for item in types %}

    {{item[0]}}
    <br>

    {%endfor%}

    <br>


    {% if planet.user_id == session.user_id %}
    <p>
      <a href="/removeplanet/{{ planet.id }}">Poista</a>
    </p>
    {% endif %}
    <br>



  </div>

</body>

</html>